<header>
    <nav>
      <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
        <div fxFlex="50">
          <div class="pl-20">
            <a class="icon__image" routerLink="/">
              <img src="../assets/images/ngTurkey.png" width="60" alt="ngTurkey">
            </a>
            ngTurkey
          </div>
        </div>
        <div fxFlex class="text--right">
          <a mat-raised-button routerLink="filmler">
            Filmler
          </a>
          <a mat-raised-button routerLink="belgeseller">
            Belgeseller
          </a>
        </div>
      </div>
    </nav>
</header>