<div fxLayout="row" style="height: 150vh;">
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
    <div fxFlex="80" fxFlex.gt-sm="80">
        <ng-container *ngFor="let card of firstDocumentariesCards; trackBy: trackById">
          <div fxFlex="50" fxFlex.gt-sm="50" fxFlexOffset="20px" fxFlexOffset.xs="0">
            <app-card *ngIf="card" [card]="card" className="mb-50"></app-card>
          </div>
        </ng-container>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
  </div>

  <div fxLayout="row" style="height: 150vh;">
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
    <div fxFlex="80" fxFlex.gt-sm="80">
        <ng-container *ngFor="let card of secondDocumentariesCards; trackBy: trackById">
          <div fxFlex="50" fxFlex.gt-sm="50" fxFlexOffset="20px" fxFlexOffset.xs="0">
            <app-card *ngIf="card" [card]="card"></app-card>
          </div>
        </ng-container>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="10"></div>
  </div>